.dollar-signs {
    margin: 5px;
}

.dollar-sign {
    color: #333;
    margin-right: 5px;
    font-weight: lighter; 
}

.dollar-signs p {
    color: #333;    
}

.highlight {
    color: #dc3545;
    font-weight: bold;
}