.background-container {
    margin: 0;
    padding: 0;
    background-image: url("https://www.cronista.com/files/image/300/300145/5ffe0f8143db2.jpg");
    background-size: cover;
    background-position: center;
    /* min-height: 60vh; */
    height: 90vh;
    display: flex;
    justify-content: center;
}

.welcome-container {
    /* background-color: rgba(152, 235, 223, 0.3); */
    background: rgba(24, 24, 16, .2);
    border-radius: 2em;
    backdrop-filter: blur(10px);
    margin: auto;
    max-width: 600px;
    text-align: center;
    padding: 50px;
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: aliceblue;
}



