.card-text {
    color: #333;
}

.crop-text-1 {
    -webkit-line-clamp: 1;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.crop-text-2 {
    -webkit-line-clamp: 2;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.favorite-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: gold; 
    font-size: 24px; 
    z-index: 1; 
  }