.itinerary-card {
  background-color: #DDF1F8;
}

.itinerary-crt {
  padding-left: 10px;
  padding-right: 10px;
}

.like-button {
  display: inline-block;
  margin: 10px;
  margin-top: 0;

  background-color: #68b672; 
  color: #fff; 
  border-radius: 20px;
  padding: 5px 5px;
  margin: 5px;
}

.like-button-icon {
  border: none;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
  background-color: #68b672; 
}

.like-button-text {
    color: #fff;
    margin-left: 10px;
}

.itinerary-crt p {
  /* color: #333;   */
  font-size: 15px; 
}

.itinerary-content {
  display: flex;
  align-items: center;
}
  
.profile{
  text-align: center;
  margin-top: 5px;
}

.rounded-circle {
overflow: hidden;
box-shadow: 0 0 10px #68b672;
}

img.rounded-circle {
  width: 80px; 
  height: 80px;
  border-radius: 50%; 
  margin-right: 10px;
}
  
.itinerary-content p {
  margin: 20px;
}
  
.itinerary-content .card-text {    
  margin-top: 5px;
}

.duration-item {
  background-color: #68b672; 
  color: #fff; 
  border-radius: 20px;
  padding: 5px 10px;
  margin: 5px;
}
  