.itinerary-card {
  background-color: #DDF1F8;
}

.like-button {
  /* display: inline-block; */
  margin: 10px;
}

.like-button-icon {
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.like-button-text {
    color: #333;
}

.itinerary-crt p {
  color: #333;   
}

.itinerary-content {
  display: flex;
  align-items: center;
}
  
.profile{
  text-align: center;
}
  
img.rounded-circle {
  width: 80px; 
  height: 80px;
  border-radius: 50%; 
  margin-right: 10px;
}
  
.itinerary-content p {
  margin: 20px;
}
  
.itinerary-content .card-text {    
  margin-top: 5px;
}
  