.hashtag-list {
    margin: 20px;
}
  
.hashtag-list h3 {
    margin-bottom: 10px;
}
  
.hashtag-list-ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.hashtag-item {
    background-color: #007bff; 
    color: #fff; 
    border-radius: 20px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

.hashtag-item:hover {
    background-color: #0056b3; 
}