.hashtag-list {
    margin: 5px;
}
  
.hashtag-list-ul {
    list-style-type: none;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.hashtag-item {
    background-color: #007bff; 
    color: #fff; 
    border-radius: 20px;
    padding: 5px 5px;
    margin: 5px;
    cursor: pointer;
}

.hashtag-item:hover {
    background-color:  #52AA5E; 
}