.background-container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://images.unsplash.com/photo-1612896008575-32623e0acb79?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1174&q=80");
    background-size: cover;
    background-position: center;
    /* min-height: 60vh; */
    height: 90vh;
    display: flex;
    justify-content: center;
}

.welcome-container {
    text-align: center;
    padding: 50px;
    /* background-color: rgba(255, 255, 255, 0.5); */
    background-color: rgba(152, 235, 223, 0.3);
    border-radius: 8px;
    /* box-shadow: 5px 4px 8px rgba(115, 207, 236, 0.5); */
    margin: auto;
    max-width: 600px;
}

h1 {
    font-size: 30px;
    color: #333;
    margin-bottom: 50px;
}