:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  background-color: #3AAED8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h3 {
  color: aliceblue;
}

.app-layout {
  height: 100vh;
  background-color: #3AAED8;
}

.app-header, .app-footer{
  width: 100%;
}

.app-main{
  flex-grow: 1;

}

.nav-link:hover {
  background-color: #0081E6 !important;
  color: white !important;
}
.active {
  --bs-nav-pills-link-active-bg: #0081E6 !important;
  color: rgb(255, 255, 255) !important;
}
.card {
  border-color: #0081E6;
  transition: all 0.3s;
}
.city-card:hover{
  border-color: #52AA5E;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #52AA5E(217,3,104,1) !important;
  transform: scale(1.05);
}
.btn-primary {
  background-color: #0081E6;
  border-color: #0081E6;
}
.btn-primary:hover {
  background-color: #52AA5E;
  border-color: #52AA5E;
}

.fw-light {
  color: aliceblue;
}